.user-layout {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

.logo-icon {
    width: 170px;
    height: auto;
    margin-right: 10px;
}

/* SIDEBAR */
.user-sidebar {
  width: 230px;
  background: #0f4c75;
  color: white;
  padding: 20px;
}

.user-sidebar ul {
  list-style: none;
}

.user-sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

/* MAIN */
.user-main {
  flex: 1;
  padding: 20px;
}

/* HEADER */
.user-header {
  margin-bottom: 20px;
}

/* GRID */
.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* MAP */
.map-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.map-placeholder {
  height: 250px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ACTIVE PARKING */
.active-card {
  background: #1b6ca8;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.active-info {
  display: flex;
  justify-content: space-between;
}

.timer h2 {
  margin: 10px 0;
}

.btn-release {
  background: #ffd166;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* HISTORY */
.history-card {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
